@import "./base.css";

.background {
  background: url("../assets/4077186_17580.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.now-underline {
  border: none;
  border-top: 0.1rem solid var(--gray-faded);
  width: 80%;
  border-radius: 10px;
  margin: 2rem auto;
}



body::-webkit-scrollbar {
  display: none;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

button {
  text-decoration: none;
  color: black;
}
button:hover,
button:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  cursor: default;
}

li {
  list-style: none;
}

.work-panel {
  margin: 1rem 0;
  padding: 2rem 1rem;
}

.work-title-area {
  text-align: center;
}

.work-title-area h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--gray);
}

.work-title-area h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: var(--purple);
}

.work-title-area p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  width: 60%;
  margin: 0 auto;
}

.work-area {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 2rem 8rem;
}

.work-card {
  max-width: 46%;
  flex: 1 0 380px;

  margin: 2rem 1rem;
}

.work-card-img-area {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transform: translate(0, 0px);
  transition: 0.2s ease-in-out;
  box-shadow: #09011031 0 0 10px 3px;
}

.work-card-img {
  width: 100%;
}

.work-card-img-area:hover {
  width: 100%;
  transform: translate(0, -10px);
}

.work-card-text {
  padding: 1rem 0rem;
}

.work-card-text h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--gray);
}

.work-card-text a {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: var(--black);
  transition: 0.2s ease-in-out;
}

.work-card-text a:hover {
  color: var(--purple);
}

.work-card-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--gray);
  margin: 0.5rem 0;
}

.work-btn a {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--purple);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: 3px solid #470089;
  border-radius: 10px;
  padding: 1rem;
}

#work-icon {
  font-size: 25px;
  transform: translate(0, 0);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.work-btn a:hover #work-icon {
  transform: translate(3px, 0);
}

@media screen and (max-width: 480px) {
  .work-title-area h4 {
    font-size: 35px;
  }

  .work-title-area p {
    font-size: 16px;

    width: 80%;
  }

  .work-title-area h5 {
    font-size: 15px;
  }

  .work-card {
    max-width: 100%;
    flex: 0 380px;
  }

  .work-area {
    margin: 2rem 1rem;
  }

  .work-card-text p {
    font-size: 18px;
  }

  .work-btn a {
    font-size: 14px;
    border: 2px solid #470089;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

.pages-title-area {
  text-align: center;
  margin: 3rem 0;
}

.pages-title-area h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 56px;
  color: var(--purple);
}

.pages-title-area p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  width: 40%;
  margin: 0 auto;
}

.section-title {
  margin: 0rem 9rem;
  width: fit-content;
}
.section-title h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: var(--purple);
  margin: 0.1rem 0rem;
}
.section-title-line {
  border: none;
  border-top: 0.2rem solid var(--purple);
  width: initial;
  border-radius: 10px;
  margin: 0rem 0rem;
}
@media screen and (max-width: 480px) {
  .section-title {
    margin: 0rem 0rem;
    width: fit-content;
  }

  .pages-title-area h4 {
    font-size: 50px;
  }

  .pages-title-area p {
    font-size: 18px;
    width: 90% !important;
  }

  .section-title h3 {
    font-size: 30px;
    margin: 0.1rem 0rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

.exp-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 8rem;
}

.exp-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 250px;
}

.exp-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #20002800; */
  width: 100%;
  border-radius: 5px;
  /* box-shadow: #00000030 0 0 10px 5px; */
}

.caret {
  font-size: 58px;
  color: #d5d5d5;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #470089;
}

/* .bx-caret-right {
  font-size: 58px;
  color: #d5d5d5;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #470089;
} */

.exp-left {
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}


.exp-img {
  min-width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 1rem;
  box-shadow: #00000036 0 0 10px 3px;
}

.exp-text-area {
  width: 60%;

  margin: 0 1rem;
}

.exp-line {
  width: 4%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp-underline {
  border: none;
  border-left: 0.2rem solid var(--black-faded);
  width: 0;
  height: inherit;
  margin: 0rem auto;
}

.exp-hr {
  width: 50px;
  height: 113px;
  background-color: var(--white-faded);
  /* transform: translate(-22px, 95px); */
  border-radius: 50%;
  border: 4px solid #470089;
}

.exp-right {
  width: 48%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
}

.exp-text-area h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: var(--gray);
}

.exp-text-area h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: var(--black);
}

.exp-text-area h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray);
}

.exp-text-area a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--purple);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
  width: fit-content;
}

#exp-icon {
  font-size: 20px;
}

.exp-text-area a:hover {
  border-bottom: 2px solid #470089;
}

@media screen and (max-width: 480px) {
  .exp-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0rem;
  }

  .exp-line {
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .exp-img {
    min-width: 100px;
    height: 100px;
    margin: 0 0rem;
  }

  .exp-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: inherit;
    margin: 1rem 0;
  }

  .exp-text-area h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: var(--gray);
  }

  .exp-text-area h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: var(--black);
  }

  .exp-text-area h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--gray);
  }

  .exp-text-area a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
    width: fit-content;
  }

  #exp-icon {
    font-size: 20px;
  }

  .exp-text-area a:hover {
    border-bottom: 2px solid #470089;
  }

  .exp-text-area {
    width: 60%;
    margin: 0 1rem;
  }

  .caret {
    font-size: 30px;
    color: #d5d5d5;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #470089;
  }

  /* 
  .bx-caret-right {
    font-size: 30px;
    color: #d5d5d5;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #470089;
  } */
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

.exp-area-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 8rem;
}

.exp-row-w {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 250px;
}

.exp-card-w {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #20002800; */
  width: 100%;
  border-radius: 5px;
  /* box-shadow: #00000030 0 0 10px 5px; */
}

.caret-w {
  font-size: 58px;
  color: #d5d5d5;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #470089;
}

/* .bx-caret-right {
  font-size: 58px;
  color: #d5d5d5;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #470089;
} */

.exp-left-w {
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}


.exp-img-w {
  min-width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 1rem;
  box-shadow: #00000036 0 0 10px 3px;
}

.exp-text-area-w {
  width: 60%;

  margin: 0 1rem;
}

.exp-line-w {
  width: 4%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp-underline-w {
  border: none;
  border-left: 0.2rem solid var(--black-faded);
  width: 0;
  height: inherit;
  margin: 0rem auto;
}

.exp-hr-w {
  width: 50px;
  height: 113px;
  background-color: var(--white-faded);
  /* transform: translate(-22px, 95px); */
  border-radius: 50%;
  border: 4px solid #470089;
}

.exp-right-w {
  width: 48%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
}

.exp-text-area-w h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: var(--gray);
}

.exp-text-area-w h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: var(--black);
}
.exp-text-area-w h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray);
}

.exp-text-area-w a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--purple);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
  width: fit-content;
}

.exp-text-area-w h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
  margin: 0.5rem 0;
}

#exp-icon-w {
  font-size: 20px;
}

.exp-text-area-w a:hover {
  border-bottom: 2px solid #470089;
}

@media screen and (max-width: 480px) {
  .exp-text-area-w h3 {
    font-size: 17px;
  }
  .exp-area-w {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0rem;
  }

  .exp-line-w {
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .exp-img-w {
    min-width: 150px;
    height: 150px;
    margin: 1rem 0rem;
  }

  .exp-row-w {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: inherit;
    margin: 1rem 0;
  }

  .exp-text-area-w h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: var(--gray);
  }

  .exp-text-area-w h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: var(--black);
  }
  .exp-text-area-w h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--gray);
  }

  .exp-text-area-w a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
    width: fit-content;
  }

  #exp-icon-w {
    font-size: 20px;
  }

  .exp-text-area-w a:hover {
    border-bottom: 2px solid #470089;
  }

  .exp-text-area-w {
    width: 80%;
    margin: 0 1rem;
  }

  .caret-w {
    display: none;
    font-size: 30px;
    color: #d5d5d5;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #470089;
  }

  /* 
  .bx-caret-right {
    font-size: 30px;
    color: #d5d5d5;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #470089;
  } */

  .exp-card-w {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

.blogs-area {
  display: flex;
  /* gap: 20px; */
  margin: 2rem 8rem;
  justify-content: center;
  flex-direction: column;
}

.blogs-card {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  width: 80%;
}

.blogs-card-img-area {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transform: translate(0, 0px);
  transition: 0.2s ease-in-out;
  box-shadow: #09011031 0 0 10px 3px;
}

.blogs-card a {
  width: 100%;

  display: block;
}
.blogs-card-img {
  width: 100%;
  transform: scale(1.0218);
}
.blogs-card-img-area:hover {
  transform: translate(0, -10px);
}

.blogs-card-text {
  padding: 1rem 0rem;
  margin: 0 1rem;
  width: 100%;
}

.blogs-card-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.blogs-card-text h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0.2rem;
  background-color: #8080809d;
  padding: 0.1rem 0.4rem;
  color: white;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.blogs-card-text h5:hover {
  background-color: #470089;
}

.blogs-card-text a {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: var(--black);
  transition: 0.2s ease-in-out;
}
.blogs-card-text a:hover {
  color: var(--purple);
}

.blogs-card-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
  margin: 0.5rem 0;
  cursor: default;
}

.blogs-btn a {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--purple);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: 3px solid #470089;
  border-radius: 10px;
  padding: 1rem;
}
#blogs-icon {
  font-size: 25px;
  transform: translate(0, 0);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.blogs-btn a:hover #work-icon {
  transform: translate(3px, 0);
}

@media screen and (max-width: 480px) {
  .blogs-card-text h5 {
    margin: 0.2rem;
  }

  .blogs-title-area h4 {
    font-size: 35px;
  }

  .blogs-title-area p {
    font-size: 16px;

    width: 80%;
  }

  .blogs-title-area h5 {
    font-size: 15px;
  }

  .blogs-card {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
  }

  .blogs-area {
    margin: 1rem 0;
  }

  .blogs-card-text {
    padding: 1rem 0rem;
    margin: 0;
    width: 100%;
  }

  .blogs-card-text p {
    font-size: 18px;
  }

  .blogs-btn a {
    font-size: 18px;
    border: 3px solid #470089;
    border-radius: 10px;
    padding: 0.8rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

.blogs-index-area {
  display: flex;
  margin: 2rem 8rem;
  flex-wrap: nowrap;
}

.blogs-index-card {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 45%;
}

.blogs-index-card-img-area {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transform: translate(0, 0px);
  transition: 0.2s ease-in-out;
  box-shadow: #09011031 0 0 10px 3px;
}

.blogs-index-card a {
  width: 100%;

  display: block;
}
.blogs-index-card-img {
  width: 100%;
  transform: scale(1.0218);
}
.blogs-index-card-img-area:hover {
  transform: translate(0, -10px);
}

.blogs-index-card-text {
  padding: 1rem 0rem;
  margin: 0;
  width: 100%;
}

.blogs-index-card-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.blogs-index-card-text h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0.2rem;
  background-color: #8080809d;
  padding: 0.1rem 0.4rem;
  color: white;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.blogs-index-card-text h5:hover {
  background-color: #470089;
}

.blogs-index-card-text a {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: var(--black);
  transition: 0.2s ease-in-out;
}
.blogs-index-card-text a:hover {
  color: var(--purple);
}

.blogs-index-card-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
  margin: 0.5rem 0;
  cursor: default;
}

.blogs-index-btn a {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--purple);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: 3px solid #470089;
  border-radius: 10px;
  padding: 1rem;
}
#blogs-index-icon {
  font-size: 25px;
  transform: translate(0, 0);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.blogs-index-btn a:hover #work-icon {
  transform: translate(3px, 0);
}

@media screen and (max-width: 480px) {
  .blogs-index-card-text h5 {
    margin: 0.2rem;
  }

  .blogs-index-title-area h4 {
    font-size: 35px;
  }

  .blogs-index-title-area p {
    font-size: 16px;

    width: 80%;
  }

  .blogs-index-title-area h5 {
    font-size: 15px;
  }

  .blogs-index-card {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
  }

  .blogs-index-area {
    margin: 1rem 0;
    flex-wrap: wrap;
  }

  .blogs-index-card-text {
    padding: 1rem 0rem;
    margin: 0;
    width: 100%;
  }

  .blogs-index-card-text p {
    font-size: 18px;
  }

  .blogs-index-btn a {
    font-size: 18px;
    border: 3px solid #470089;
    border-radius: 10px;
    padding: 0.8rem;
  }
}
