@import './base.css';



.background {
  background: url("../assets/4077186_17580.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


.loader{
  z-index: 99;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader img{
 position: absolute;
 width: 60px;
 height: auto;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height:75px;
  border:10px solid #bcbcbc;
  border-top-color:rgb(71, 0, 137);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading{
  from{
      transform: rotate(0turn);
  }
  to{
      transform: rotate(1turn);
  }
}

body::-webkit-scrollbar {
  display: none;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

button {
  text-decoration: none;
  color: black;
}
button:hover,
button:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  cursor: default;
}

li {
  list-style: none;
}




.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



